



<div class="container">

    <div class="row">

    <button type="button" class="btn btn-primary btn-md col-md-4 m-10 mr-2"><a href="{{this.linkA}}">{{this.buttonA}}</a></button>

    <button type="button" class="btn btn-primary btn-md col-md-4 m-10 mr-2"><a href="{{this.linkB}}">{{this.buttonB}}</a></button>

    <button type="button" class="btn btn-primary btn-md col-md-4 m-10 mr-2"><a href="{{this.linkC}}">{{this.buttonC}}</a></button>

    </div>

</div>
