



<div class="container">

    <div class="row">

        

            <button type="button" class="btn btn-primary col-md-4"><a href="{{this.linkA}}">{{this.buttonA}}</a></button>

            <button type="button" class="btn btn-primary col-md-4"><a href="{{this.linkB}}">{{this.buttonB}}</a></button>

            <button type="button" class="btn btn-primary col-md-4"><a href="{{this.linkC}}">{{this.buttonC}}</a></button>

       
    </div>

</div>
