<div class="inner-body-div">

    <h2>All artworks</h2>
    {{#if errorMsg}}
    {{errorMsg}}

    {{/if}}

    {{#each applicationsArray}}
    <form action="/allArtworks" method="POST">

        <h6>Artwork Title:</h6>
        <p>{{this.artworkName}}</p>
        <input name="artworkName" value="{{this.artworkName}}" hidden/>
        <input name="artworkUrl" value="{{this.artworkUrl}}" hidden />
        <img src="{{this.artworkUrl}}">
        <h6>Description:</h6>
        <p>{{this.description}}</p>
        <input name="description" value="{{this.description}}" hidden/>
        <h6>By:</h6>
        <p>{{this.firstName}} {{this.lastName}}</p>
        <input name="firstName" value="{{this.firstName}}" hidden/>
        <input name="lastName" value="{{this.lastName}}" hidden/>
        <button type="submit">Add to Favourites</button>
        
    </form>
    <hr>

    {{/each}}

</div>

<div>
    {{>buttonsPartial}}
</div>
<!--buttons-->