<div class="inner-body-div">
  <h1>Exhibition Details</h1>
  <hr>
  {{#if errorMessage}}
  {{errorMessage}}
  <button><a href="/exhibition/{{exhibitionToDelete._id}}/edit">Edit Exhibition Details</a></button><br>

  <form action="/exhibition/{{exhibitionToDelete._id}}/delete" method="POST">
    <button>Delete Exhibition</button><br><br>
  </form>
  <h6>Exhibition Name: </h6>
  <p>{{exhibitionToDelete.exhibitionName}}</p>
  <h6>Exhibition Week: </h6>
  <p>{{exhibitionToDelete.exhibitionWeek}}</p>
  <h6>Exhibition Status: </h6>
  <p>{{exhibitionToDelete.exhibitionStatus}}</p>
  <h6>Visitors that attended: </h6>
  <p>{{exhibitionToDelete.usersAttended}}</p>

  {{#each exhibitionToDelete.artistApplication}}
  <hr>
  <h6>User ID</h6>
  <p>{{this.user}}</p>

  <h6>Profile Picture:</h6>
  <img src="{{this.avatarUrl}}" />

  <h6>Artist: </h6>
  <p>{{this.firstName}} {{this.lastName}}</p>
  <h6>Date of Birth:</h6>
  <p>{{this.dateOfBirth}}</p>
  <h6>Email: </h6>
  <p>{{this.email}}</p>
  <h6>Phone Number: </h6>
  <p>{{this.phoneNumber}}</p>
  <h6>Address: </h6>
  <p>{{this.address}}</p>
  <h6>Artwork Image:</h6>
  <img src="{{this.artworkUrl}}" />
  <h6>Artwork Name: </h6>
  <p>{{this.artworkName}}</p>
  <h6>Art Type: </h6>
  <p>{{this.artType}}</p>
  <h6>Description: </h6>
  <p>{{this.description}} </p>
  <h6>Wall Size: </h6>
  <p>{{this.wallSize}}</p>
  <h6>Week Chosen</h6>
  <p> {{this.chooseWeek}} </p>
  <h6>Application Status: </h6>
  <p>{{this.applicationStatus}}</p>

  {{/each}}

  {{/if}}

  {{#if exhibition}}

  <button><a href="/exhibition/{{exhibition._id}}/edit">Edit Exhibition Details</a></button><br>
  <form action="/exhibition/{{exhibition._id}}/delete" method="POST">
    <button>Delete Exhibition</button><br><br>
  </form>
  <h6>Exhibition Name: </h6>
  <p>{{exhibition.exhibitionName}}</p>
  <h6>Exhibition Week: </h6>
  <p>{{exhibition.exhibitionWeek}}</p>
  <h6>Exhibition Status: </h6>
  <p>{{exhibition.exhibitionStatus}}</p>
  <h6>Is Archived:</h6>
  <p>{{exhibition.archived}}</p>
  <h6>Exhibition Description</h6>
  <p>{{exhibition.exhibitionDescription}}</p>
  <h6>Visitors that attended: </h6>
  <p>{{exhibition.usersAttended}}</p>

  {{#each exhibition.artistApplication}}
  <hr>
  <h6>User ID</h6>
  <p>{{this.user}}</p>

  <h6>Profile Picture:</h6>
  <img src="{{this.avatarUrl}}" />

  <h6>Artist: </h6>
  <p>{{this.firstName}} {{this.lastName}}</p>
  <h6>Date of Birth:</h6>
  <p>{{this.dateOfBirth}}</p>
  <h6>Email: </h6>
  <p>{{this.email}}</p>
  <h6>Phone Number: </h6>
  <p>{{this.phoneNumber}}</p>
  <h6>Address: </h6>
  <p>{{this.address}}</p>
  <h6>Artwork Image:</h6>
  <img src="{{this.artworkUrl}}" />
  <h6>Artwork Name: </h6>
  <p>{{this.artworkName}}</p>
  <h6>Art Type: </h6>
  <p>{{this.artType}}</p>
  <h6>Description: </h6>
  <p>{{this.description}} </p>
  <h6>Wall Size: </h6>
  <p>{{this.wallSize}}</p>
  <h6>Week Chosen</h6>
  <p> {{this.chooseWeek}} </p>
  <h6>Application Status: </h6>
  <p>{{this.applicationStatus}}</p>


  {{/each}}

  {{/if}}

</div>

<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->