<div class="inner-body-div">

    <h2>Edit Exhibition:</h2>
    <form action="/exhibition/{{exhibitionToEdit._id}}/edit" method="POST">
        <label>Exhibition Name:
            <input type="text" name="exhibitionName" style="background-color: rgba(0, 255, 255, 0.5);"
                value="{{exhibitionToEdit.exhibitionName}}" readonly />
        </label><br><br>
        <label>Exhibition Week:
            <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="exhibitionWeek"
                value="{{exhibitionToEdit.exhibitionWeek}}" readonly />
        </label><br><br>

        {{#each exhibitionToEdit.artistApplication}}

        <div>

            <label>Artist's First and Last Name:
                <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="firstName"
                    value="{{this.firstName}}" readonly />
            </label><br><br>
            <label>
                <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="lastName"
                    value="{{this.lastName}}" readonly />
            </label><br><br>
            <label>Artwork Title:
                <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="artworkName"
                    value="{{this.artworkName}}" readonly />
            </label><br><br>

            <label>Application Status:
                <select name="applicationStatus">

                    <option selected value="{{this.applicationStatus}}">{{this.applicationStatus}}</option>
                    <option value="approved">Approved</option>
                    <option value="unapproved">Unapproved</option>
                    <option value="to be approved">To be Approved</option>
                </select><br><br>

        </div>

        {{/each}}

        <label>Exhibition Status Released:
            <select name="exhibitionStatus">
                <option selected value="{{exhibitionToEdit.exhibitionStatus}}">{{exhibitionToEdit.exhibtionStatus}}
                </option>
                <option value="open">Open</option>
                <option value="closed">Closed</option>
                <option value="cancelled">Cancelled</option>
            </select>
        </label><br><br>
        {{#if exhibitionToEdit.archived}}
        <label>Is Archived (Select One):</label><br>
        <span>True &nbsp </span><input type="checkbox" name="archived" value="true" checked />
        <span> &nbsp False &nbsp </span><input type="checkbox" name="archived" value="false" /><br>
        {{else}}
        <label>Is Archived (Select One):</label><br>
        <span>True &nbsp </span><input type="checkbox" name="archived" value="true" />
        <span> &nbsp False &nbsp </span><input type="checkbox" name="archived" value="false" checked /><br>
        {{/if}}

        <button type="submit">Edit Exhibition</button><br>

    </form>

</div>

<div>

    {{>buttonsPartial}}

</div>
<!--buttons-->