<div class="inner-body-div">

  <h1>List of All Exhibitions:</h1>

  {{#each exhibition}}
  <h6>Exhibition Name: </h6>
  <p>{{this.exhibitionName}}</p>
  <h6>Exhibition Week: </h6>
  <p>{{this.exhibitionWeek}}</p>
  <h6>Exhibition Status: </h6>
  <p>{{this.exhibitionStatus}}</p>
  <h6>Visitors that attended: </h6>
  <p>{{this.usersAttended}}</p>
  

  <button><a href="/exhibition/{{this._id}}">See Exhibition Details</a></button><br>

  <hr>
  {{/each}}

</div>

<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->