<div class="inner-body-div">

  <h1>List of All Exhibitions:</h1>

  {{#each exhibition}}
  <hr>
  <h6>Exhibition Name: </h6>
  <p>{{this.exhibitionName}}</p>
  <h6>Exhibition Week: </h6>
  <p>{{this.exhibitionWeek}}</p>
  <h6>Exhibition Status: </h6>
  <p>{{this.exhibitionStatus}}</p>
  <h6>Is Archived:</h6>
  <p>{{this.archived}}</p>
  <button class="btn btn-primary"><a href="/exhibition/{{this._id}}">See Exhibition Details</a></button><br>
  {{/each}}
</div>

<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->