
  

    
    <img src="{{user.avatarUrl}}">
    <p>Username: {{user.username}}</p>
    <p>First Name: {{user.firstName}}</p>
    <p>Last Name: {{user.lastName}}</p>
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
    <p>Phone Number: {{user.phoneNumber}}</p>
    <p>Date of Birth: {{user.dateOfBirth}}</p>
    <p>Genger: {{user.gender}}</p>
    <p>Nationality: {{user.nationality}}</p>
    <p>Exhibitions Hosted: {{user.exhibitionsHosted}}</p>
 

  

    <button type="button" class="btn btn-primary col-md-4"><a class="button-a-link" href="/artist/{{userInSession._id}}/edit">Edit Account Details</a></button>


