<div class="inner-body-div">
<h2>Application Cart</h2>

{{#if errMsg}}
  <p>{{errMsg}}</p>
  <button><a href="/artistCart"> Pending Application Here </a></button>
{{/if}}

{{#if artistApp}}

  <form action="/artistSubmitApp" method="POST">
    <input name="_id" value="{{artistApp._id}}" readonly />
    <input name="user" value="{{artistApp.user}}" readonly />
    <input name="avatarUrl" value="{{artistApp.avatarUrl}}"/>
    <input name="firstName" value="{{artistApp.firstName}}"/>
    <input name="lastName" value="{{artistApp.lastName}}" />
    <input name="email" value= "{{artistApp.email}}"/>

    <input name="phoneNumber" value= "{{artistApp.phoneNumber}}"/>
    <input name="address" value= "{{artistApp.address}}"/>
    <input name="dateOfBirth" value= "{{artistApp.dateOfBirth}}"/>

    <input name="artworkName" value="{{artistApp.artworkName}}"/>

    <input type="text" name="applicationStatus" value="{{artistApp.applicationStatus}}"/>
    <input name="artworkUrl" value="{{artistApp.artworkUrl}}" />
    <input name="artType" value="{{artistApp.artType}}"/>
    <input name="wallSize" value="{{artistApp.wallSize}}"/>
    <input name="description" value="{{artistApp.description}}"/>
    <input name="chooseWeek" value="{{artistApp.chooseWeek}}"/>

    <button type="submit">Submit</button>
  </form>

  <button><a href="/artistCart/{{artistApp._id}}/edit">Edit Application</a></button>

  <form action="/artistCart/{{artistApp._id}}/delete" method="POST">
    <button>Delete Application</button>
  </form>
{{/if}}


{{#if editedItem}}
{{#each editedItem}}

  <form action="/artistSubmitApp" method="POST">

    <input name="_id" value="{{this._id}}" readonly />
    <input name="user" value="{{this.user}}" readonly />
    <input name="avatarUrl" value="{{this.avatarUrl}}"/>
    <input name="firstName" value="{{this.firstName}}"/>
    <input name="lastName" value="{{this.lastName}}" />
    <input name="email" value= "{{this.email}}"/>

    <input name="phoneNumber" value= "{{this.phoneNumber}}"/>
    <input name="address" value= "{{this.address}}"/>
    <input name="dateOfBirth" value= "{{this.dateOfBirth}}"/>

    <input name="artworkName" value="{{this.artworkName}}"/>
    <input type="text" name="applicationStatus" value="{{this.applicationStatus}}"/>
    <input name="artworkUrl" value="{{this.artworkUrl}}" />
    <input name="artType" value="{{this.artType}}"/>
    <input name="wallSize" value="{{this.wallSize}}"/>
    <input name="description" value="{{this.description}}"/>
    <input name="chooseWeek" value="{{this.chooseWeek}}"/>

    <button type="submit">Submit</button>

  </form>

  <button><a href="/artistCart/{{this._id}}/edit">Edit Application Details</a></button>

  <form action="/artistCart/{{this._id}}/delete" method="POST">
    <button>Delete Application</button>
  </form>
{{/each}}
{{/if}}


{{#if altArtistApp}}
{{#each altArtistApp}}

  <form action="/artistSubmitApp" method="POST">

    <input name="_id" value="{{this._id}}" readonly />
    <input name="user" value="{{this.user}}" readonly />
    <input name="avatarUrl" value="{{this.avatarUrl}}"/>
    <input name="firstName" value="{{this.firstName}}"/>
    <input name="lastName" value="{{this.lastName}}" />
    <input name="email" value= "{{this.email}}"/>

    <input name="phoneNumber" value= "{{this.phoneNumber}}"/>
    <input name="address" value= "{{this.address}}"/>
    <input name="dateOfBirth" value= "{{this.dateOfBirth}}"/>

    <input name="artworkName" value="{{this.artworkName}}"/>
    <input type="text" name="applicationStatus" value="{{this.applicationStatus}}"/>
    <input name="artworkUrl" value="{{this.artworkUrl}}" />
    <input name="artType" value="{{this.artType}}"/>
    <input name="wallSize" value="{{this.wallSize}}"/>
    <input name="description" value="{{this.description}}"/>
    <input name="chooseWeek" value="{{this.chooseWeek}}"/>


    <button type="submit">Submit</button>

  </form>

  <button><a href="/artistCart/{{this._id}}/edit">Edit Application Details</a></button>

  <form action="/artistCart/{{this._id}}/delete" method="POST">
    <button>Delete Application</button>
  </form>

{{/each}}

{{/if}}
</div>
  <div>
    {{>buttonsPartial}}
  </div>