<div class="inner-body-div">
  <div id="form">
    <h2>Edit your application details</h2>
    <form action="/artistCart/{{artistApptoEdit._id}}/edit" method="POST" enctype="multipart/form-data">
      <label> Application ID:</label>
        <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="_id" value="{{artistApptoEdit._id}}"
          readonly />
      
      <label>User ID:</label>
        <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="user"
          value="{{artistApptoEdit.user}}" readonly />
      
      <label>
        Profile Picture:</label>
        <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="avatarUrl"
          value="{{artistApptoEdit.avatarUrl}}" readonly />
      
      <label>
        First Name:</label>
        <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="firstName"
          value="{{artistApptoEdit.firstName}}" readonly />
      
      <label>
        Last Name:</label>
        <input type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="lastName"
          value="{{artistApptoEdit.lastName}}" readonly />
      
      <label>
        Email:</label>
        <input type="email" style="background-color: rgba(0, 255, 255, 0.5);" name="email"
          value="{{artistApptoEdit.email}}" readonly />
      
      <label>
        Address:</label>
        <input type="text" name="address" value="{{artistApptoEdit.address}}" />
      
      <label>
        Phone Number:</label>
        <input type="number" name="phoneNumber" value="{{artistApptoEdit.phoneNumber}}" />
      
      <label>
        Date of Birth: </label>
        <input class="dt" type="date" name="dateOfBirth" value="{{artistApptoEdit.dateOfBirth}}" />
     
      <label>
        Artwork Name:</label>
        <input type="text" name="artworkName" value="{{artistApptoEdit.artworkName}}" />
      
      <label>
        Artwork Image:</label>
        <input type="file" name="artworkUrl" placeholder="{{artistApptoEdit.artworkUrl}}" />
        <input type="text" name="existingImage" hidden value="{{artistApptoEdit.artworkUrl}}" />
      
      <label>Application Status:</label>
        <input type="text" name="applicationStatus" value="{{artistApptoEdit.applicationStatus}}" readonly />
    
      <label>
        Art Type:</label>
        <select name="artType">
          <option selected value="{{artistApptoEdit.artType}}">Selected -
            {{artistApptoEdit.artType}}</option>
          <option value="Fine Art">Fine Art</option>
          <option value="Photography">Photography</option>
          <option value="Plastic Art">Plastic Art</option>
        </select>
      
      <label>
        Wall Size:</label>
        <select name="wallSize">
          <option selected value="{{artistApptoEdit.wallSize}}">Selected -
            {{artistApptoEdit.wallSize}}</option>
          <option value="1m space - €80 per week">1m space - €80 per week</option>
          <option value="2m space - €120 per week">2m space - €120 per week</option>
          <option value="3m space - €150 per week">3m space - €150 per week</option>
        </select>
      
      <label for="w3review">Description:</label>
      <textarea name="description" rows="4" cols="50">{{artistApptoEdit.description}}</textarea>

      <label>
        Choose Week:</label>
        <select name="chooseWeek">
          <option selected value="{{artistApptoEdit.chooseWeek}}">
            {{artistApptoEdit.exhibitionName}}-{{artistApptoEdit.chooseWeek}}</option>
          {{#each exhibitionToJoin}}
          <option value="{{this.exhibitionName}}-{{this.exhibitionWeek}}">
            {{this.exhibitionName}}-{{this.exhibitionWeek}}</option>
          {{/each}}
        </select>
      
      <button class="btn btn-primary" type="submit">Update Application</button>
    </form>
  </div>
</div>
<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->