<div class="inner-body-div">
  <h2>Artist Application History</h2>
  
  {{#each applicationsArray}}
  <hr>
  <div class="card form-control" style="font-size: 0.8rem">
   <div class="row">
    <div class="container" >
      <div class="col-md-12 col-sm-12 col card mt-2 p-1">
        <p><strong>Application ID: </strong><span>{{this._id}}</span></p>
        <p><strong>Artist ID: </strong><span>{{this.user}}</span></p>
        <p><strong>Exhibition Name and Week: </strong><span>{{this.chooseWeek}}</span></p>
        <p><strong>Artwork Name: </strong><span>{{this.artworkName}}</span></p>
      </div>
    </div>
  </div>
  <img src="{{this.artworkUrl}}">
  <p><strong>Wall Size: </strong><span>{{this.wallSize}}</span></p>
  <p><strong>Application Status: </strong><span>{{this.applicationStatus}}</span></p>
</div>
  {{/each}}
</div>
<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->