<div class="inner-body-div">
<h2>Favourites</h2>
  {{#each user.favourites}}
      <hr>
  <h6>Artwork Title:</h6>
  <p>{{this.artworkName}}</p>
  <img class="col-12 col-sm-12 col-md-8 col-lg-6" src="{{this.artworkUrl}}">
  <p><b>By:</b> {{this.firstName}} {{this.lastName}}</p>
  <p><b>Description:</b> {{this.description}}</p>
  {{/each}}

</div>

<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->