
<div class="inner-body-div">

{{#each user.favourites}}
  <p>{{this.artworkName}}</p>
  <img src="{{this.artworkUrl}}">
  <p>By: {{this.firstName}} {{this.lastName}}</p>
  <p>Description: {{this.description}}</p>
{{/each}}

</div>

<div >
  {{>buttonsPartial}}
  
  </div>

