
  
  <form action="/artist/{{userInSession.id}}" method="GET">
    
    <img src="{{userInSession.avatarUrl}}">
    <p>Name: {{userInSession.username}}</p>
    <p>Email: {{userInSession.email}}</p>
    <p>Role: {{userInSession.role}}</p>
    <p>Phone Number: {{userInSession.phoneNumber}}</p>
    <p>Age: {{userInSession.age}}</p>
    <p>Genger: {{userInSession.gender}}</p>
    <p>Nationality: {{userInSession.nationality}}</p>
    <p>Exhibitions Hosted: {{userInSession.exhibitionsHosted}}</p>s
 

  

    <button type="submit">Create account</button>


</form>