<div class="inner-body-div">
  {{#if errorMessage}}
  <p class="error form-control">{{errorMessage}}</p>
  {{/if}}
  <div>
    <h2>Artist Application Form</h2>
    <form action="/artistCart" method="POST" enctype="multipart/form-data">
      <label>
        Profile Picture:
        </label>
        <input class="form-control" type="text" style="background-color: rgba(0, 255, 255, 0.5);" name="avatarUrl" value="{{user.avatarUrl}}"
          readonly />
        <p class="smaller-text text-center">To change your profile picture, go to your account details</p>
      
      <label>
        First Name:
      </label>
        <input class="form-control" type="text" name="firstName" value="{{user.firstName}}" />
      <label>
        Last Name:
      </label>
        <input class="form-control" type="text" name="lastName" value="{{user.lastName}}" />
      <label>
        email:
      </label>
        <input class="form-control" style="background-color: rgba(0, 255, 255, 0.5);" type="email" name="email" value="{{user.email}}"
          readonly />
        <p class="smaller-text text-center">To change your email, go back to dashboard</p>
      <label>
        Address:
      </label>
        <input class="form-control" type="text" name="address" value="{{user.address}}" />
      <label>
        Phone Number:
      </label>
        <input class="form-control" type="number" name="phoneNumber" value="{{user.phoneNumber}}" />
      <label>
        Date of Birth:
      </label>
        <input class="dt form-control" type="date" name="dateOfBirth" value="{{user.dateOfBirth}}" />
      <label>
        Upload artwork image:
      </label>
        <input class="img-input form-control" type="file" name="artworkUrl" placeholder="Enter URL Here" />
      <label>
        Art Type:
      </label>
        <select class="form-control" name="artType">
          <option selected> Select one</option>
          <option value="Fine Art">Fine Art</option>
          <option value="Photography">Photography</option>
          <option value="Plastic Art">Plastic Art</option>
        </select>
      <label for="w3review">Description:</label>
      <textarea class="form-control" name="description" rows="4" cols="30">
    </textarea><br><br>
      <label>Artwork Title:
      </label>
        <input class="form-control" type="text" name="artworkName" placeholder="Enter Artwork Title Here" />
      <label>Application Status:
      </label>
        <input class="form-control" style="background-color: rgba(0, 255, 255, 0.5);" type="text" name="applicationStatus"
          value="to be approved" readonly />
      <label>
        Wall Size:
      </label>
        <select class="form-control" name="wallSize">
          <option value="1m space - €80 per week">1m space - €80 per week</option>
          <option value="2m space - €120 per week">2m space - €120 per week</option>
          <option value="3m space - €150 per week">3m space - €150 per week</option>
        </select>
      <label>
        Choose Week:
      </label>
        <select class="form-control" name="chooseWeek">
          {{#each exhibitionToJoin}}
          <option value="{{this.exhibitionName}}-{{this.exhibitionWeek}}">
            {{this.exhibitionName}}-{{this.exhibitionWeek}}</option>
          {{/each}}
        </select>
      <button class="btn btn-primary form-control" type="submit">Go To Application Cart</button>
    </form>
  </div>
</div>
<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->