<div class="inner-body-div">

  {{#each user.favourites}}
      <hr>
  <h6>Artwork Title:</h6>
  <p>{{this.artworkName}}</p>
  <img class="ex-pic" src="{{this.artworkUrl}}">
  <p>By: {{this.firstName}} {{this.lastName}}</p>
  <p>Description: {{this.description}}</p>
  {{/each}}

</div>

<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->