
  

    
    <img src="{{user.avatarUrl}}">
    <p>Name: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
    <p>Phone Number: {{user.phoneNumber}}</p>
    <p>Date of Birth: {{user.dateOfBirth}}</p>
    <p>Genger: {{user.gender}}</p>
    <p>Nationality: {{user.nationality}}</p>
    <p>Exhibitions Hosted: {{user.exhibitionsHosted}}</p>
 

  

    <button><a href="/artist/{{userInSession._id}}/edit">Edit Account Details</a></button>


